@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
.snip1499 {
    text-align: center;
	padding: 0;
    text-transform: uppercase;
    font-weight: 500;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.snip1499 * {
    box-sizing: border-box;
}

.snip1499 li {
    display: inline-block;
    list-style: outside none none;
    margin: 0.5em 1em;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
	
}

.snip1499 li:before,
.snip1499 li:after {
    display: block;
}

.snip1499 li:before {
    bottom: 0%;
}

.snip1499 li:after {
    bottom: 75%;
}

.snip1499 a {
    backface-visibility: hidden;
    color: #7B7777;
    display: block;
    padding: 0.5em 1em;
    position: relative;
    text-align: center;
    text-decoration: none;
}

.snip1499 a:hover {
    color: #000000;
}

.snip1499 a:before {
    bottom: 25%;
}

.snip1499 a:after {
    bottom: 50%;
}

.snip1499 li:before,
.snip1499 li:after,
.snip1499 a:before,
.snip1499 a:after {
    background-color: #B4BB72;
    position: absolute;
    height: 25%;
    width: 100%;
    left: 0;
    content: '';
    z-index: -1;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
    -webkit-transition: all 0.3s steps(4);
    transition: all 0.3s steps(4);
}

.snip1499 li:hover:before,
.snip1499 li.current:before,
.snip1499 li:hover:after,
.snip1499 li.current:after,
.snip1499 li:hover a:before,
.snip1499 li.current a:before,
.snip1499 li:hover a:after,
.snip1499 li.current a:after {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
}

.snip1499 li:hover:before,
.snip1499 li.current:before {
    -webkit-transition-delay: 0.225s;
    transition-delay: 0.225s;
}

.snip1499 li:hover:after,
.snip1499 li.current:after {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.snip1499 li:hover a:before,
.snip1499 li.current a:before {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.snip1499 li:hover a:after,
.snip1499 li.current a:after {
    -webkit-transition-delay: 0.075s;
    transition-delay: 0.075s;
}


