@import url(https://fonts.googleapis.com/css?family=Muli);
.snip1555 {
	padding: 100px 0 0 0;
	text-align: center;
    font-size: 8px;
    letter-spacing: 1.5px;
    line-height: 1em;
    margin: 5px 40px;
    text-transform: uppercase;
}
.snip1555 li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 0.6em;
    padding: 12px 10px;
    position: relative;
}
.snip1555 li a {
    color: #7B7777;
    text-decoration: none;
}
.snip1555 li:before,
.snip1555 li:after {
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    height: 2px;
    width: 35%;
    background-color: #B4BB72;
    position: absolute;
    content: '';
    opacity: 0;
}
.snip1555 li:before {
    top: 0;
    left: 0;
}
.snip1555 li:after {
    bottom: 0;
    right: 0;
}
.snip1555 li:hover:before,
.snip1555 li.hover:before,
.snip1555 li:hover:after,
.snip1555 li.hover:after {
    opacity: 1;
}
.snip1555 li:hover:before,
.snip1555 li.hover:before {
    left: 65%;
}
.snip1555 li:hover:after,
.snip1555 li.hover:after {
    right: 65%;
}

/* 中等屏幕（桌面显示器，大于等于992px） */
@media (min-width: 992px) {
	.snip1555 {
		font-size: 12px;
	}
}

/* 大屏幕（大桌面显示器，大于等于1200px） */
@media (min-width: 1200px) {
	.snip1555 {
		font-size: 16px;
	}
}